<launch>
    <node pkg="udp_tunnels" type="udp_server_imu.py" name="udp_server_imu" output="screen">
    </node>
  
    <node pkg="udp_tunnels" type="udp_server_odom.py" name="udp_server_odom" output="screen">
    </node>

    <node pkg="udp_tunnels" type="udp_server_sbl.py" name="udp_server_sbl" output="screen">
    </node>

    <node pkg="udp_tunnels" type="udp_client_cmd.py" name="udp_client_cmd" output="screen">
    </node>

    <node pkg="udp_tunnels" type="udp_server_points.py" name="udp_server_points" output="screen">
    </node>
  
  </launch>