<launch>
    <node pkg="udp_tunnels" type="udp_client_imu.py" name="udp_client_imu" output="screen">
    </node>
  
    <node pkg="udp_tunnels" type="udp_client_odom.py" name="udp_client_odom" output="screen">
    </node>

    <node pkg="udp_tunnels" type="udp_client_sbl.py" name="udp_client_sbl" output="screen">
    </node>

    <node pkg="udp_tunnels" type="udp_server_cmd.py" name="udp_server_cmd" output="screen">
    </node>
  
  </launch>